{% extends "_layout" %}

{% set body_classes = "homepage" %}
    {% js "https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" %}
    {% js "@web/javascript/index.js" %}
{% block content %}

{# {{body_classes}} #}

<div class="overlay-main">
    <div class="overlay overlay01"></div>
    <div class="overlay overlay02"></div>
    <div class="overlay overlay03"></div>
</div>

<div class="wrapper">
{% set image = entry.heroImage.one() %}

<section class="hero" style="background-image: url('{{ image.url }}');">
    <div class="container">
        <h1>{{ entry.heroTitle }}</h1>
    </div>
</section>

{# {% set leftRightImage = entry.homePageLeftRightImage.one() %}

<section class="homePageLeftRight {{ entry.homePageLeftRightAlign }}">

<div class="container">

    <div>
        <h2>{{ entry.homePageLeftRightTitle }}</h2>
        <p>{{ entry.homePageLeftRightCopy }}</p>
    </div>

    <div>
        <img src="{{ leftRightImage.url }}" /> 
    </div>

</div>

</section> #}



{% for block in entry.flexibleContentHomePage.all() %}

  {% if block.type == "leftRightModule" %}

  {% set leftRightImage = block.image.one() %}

  <section class="homePageLeftRight {{ block.align }}">
    <div class="container">
    <div class="content">
        <h2>{{ block.headline }}</h2>
        <p>{{ block.copy }}</p>
        <a class="cta" href="{{ block.ctaUrl }}">{{ block.ctaText }}</a>
    </div>
    <div>
        <div class="circleImageContainer">
            <img class="circleImage" src="{{ leftRightImage.url }}" alt="" /> 
            <img class="circleRing" src="../images/ring.png" alt="" />
            test
        </div>
    </div>
    </div>
  </section>

  {% elseif block.type == "animatedContent" %}

  {% set backgroundImage = block.backgroundImage.one() %}

    <section class="animatedContent {{ block.align }}" style="background-image: url('{{ backgroundImage.url }}');">
        <div class="container">
            <div class="content">
                <h2>{{ block.headline }}</h2>
                <div class="content">{{ block.copy }}</div>
                <a class="cta" href="{{ block.ctaUrl }}">{{ block.ctaText }}</a>
            </div>
        </div>
    </section>
  
    
  {% endif %}

{% endfor %}

</div>
{% endblock %}



